*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    white-space: nowrap; 
}

/* browser parent */
body {
    width: 100%;
    height: 100vh;
    background-color: #1e2337;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px rgb(20, 19, 19);  
    border-radius: 10px;
    display: flex;
}

header .left-sidebar, article {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.312);
    border-radius: 0px 10px 10px 0px;
}

header .left-sidebar  {
    width: 62px;
    background-color: rgba(43, 35, 110, 0.388);
    border-radius: 10px 0px 0px 10px;
    transition: 0.6s;
    overflow-x: hidden;
}

/* hover */
header .left-sidebar:hover {
    width: 220px;
    background-color: rgba(43, 35, 110, 0.388);
    border-radius: 10px 0px 0px 10px;
    transition: 0.6s;
}

/* profile-picture */
.profile-picture {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.profile-picture img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

header .left-sidebar ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 垂直方向に配置 */
    padding: 0;
}

header .left-sidebar ul li{
    margin-bottom: 33px;
    list-style: none;
}

header .left-sidebar ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

/* hover */
header .left-sidebar ul li a:hover {
    color: rgb(128, 230, 128);
    transform: scale(1.2);
    transition: 0.5s;
}

header .left-sidebar ul li a i{
    margin-right: 28px;
}
