
* {
    /* 余計な空白を削除 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none; /* liを使うと黒い点が出てくるから。それを取ってあげてる。 */
    text-decoration: none;
    white-space: nowrap; 
    /* 折り返さないように */
}

body {
    background-color: #0000009c;
}

.main_container {
    width: 100%;
    min-height: 100vh; /* コンテンツに合わせて伸縮させたい場合に使用する */
}

.sidebar {
    position: relative;
    width: 77px;
    height: 100vh;
    display: flex;
    flex-direction: column; /* column 積み重なるように配置する */
    background-color: white;
    border-radius: 10px;
    gap: 20px; /* 要素間の間隔 */
    overflow-x: hidden;
    transition: 1.4s;
}

.sidebar:hover{
    transition: 1.4s;
    width: 220px;
}

/* 親要素 */
.sidebar .top-part {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
}

.usr-details {
    margin-top: 10px;
    margin-right: 10px;
}

.status {
    margin-top: 10px;
    font-size: 45px;
    color: yellowgreen;
}

.user-img {
    /* position: relative; */
    width: 40px;
    height: 40px;
}

.user-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* ok */
/* 親要素 */
.menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px;
}

.menu ul li{
    /* position: relative; */
    display: block;
    width: 100%;
}

.menu ul li a {
    /* position: relative; */
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.574);
    border-top: 1px solid rgba(225, 225, 225, 0);
    border-bottom: 1px solid transparent;
    transition: 0.6s;
}

.menu ul li:hover a {
    transition: 0.6s;
    color: yellowgreen;
    border-top: 1px solid transparent;
    border-bottom: 1px solid yellowgreen;
    transform: scale(1.2);
}

.menu ul li a i {
    /* display: block; に変更すると幅を指定できるようになる。 */
    display: block;
    min-width: 45px;
    height: 60px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
}

.menu ul li a span{
    padding-left: 30px;
    padding-top: 20px;
}